[submodule "private/universal/substrate/collectives/ultraworkers/private/claw-code"]
	path = forms/hulk/private/universal/substrate/collectives/ultraworkers/private/claw-code
	url = https://github.com/ultraworkers/claw-code.git
